<html>
<head>
  <meta charset="UTF-8" />
    <title>Добро пожаловать на сайт дипломного проекта студента Нетологии Андрея Демина!!!</title>
    <style>
      body { 
        background-color: #638E83;
      }  
      h1 {
        background-color: #00b33c;  
      }
    </style>
  </head>
  <body>
  <h1>nginx, configured by Ansible</h1>
  <p>Данная страница создана веб-сервером Nginx, установленным на хост посредством Ansible.</p>
  </body>
</html>
